.timeline {
  margin-top: 20px;
}

.intro-container {
  height: 100vh;
}

.intro-container .video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -100;
  transition: 1s opacity;
}

.news-container {
  background: url("../../../assets/images/bg.jpg") fixed;
  background-size: cover;
}

@media (min-width: 768px) {
  .nav-container {
    width: 815px;
  }
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 5px;
  border-left: 5px dotted #ffffff;
  z-index: 0;
}

.post-image {
  width: 47%;
  margin: 1%;
}

.post-image-big {
  width: 97% !important;
  margin: 1%;
}

.create-post-image {
  width: 98%;
  margin: 1%;
}

.post-title {
  font-size: 19px;
  text-align: center;
}

.upload-hint {
  font-size: 11px;
  color: #000000;
  margin-bottom: 10px;
  margin-left: 10px;
}

.add-button {
  float: right;
}

.intro-anchor-scroll-row {
  margin-top: 70vh;
}

.intro-anchor-scroll-button {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000000;
}

.intro-anchor-scroll-button:active,
.intro-anchor-scroll-button:hover,
.intro-anchor-scroll-button:focus {
  background-color: rgba(255, 255, 255, 0.7);
  color: #5e5e5e;
}

.center {
  margin: 0 auto;
  width: 80%;
}

.main-title-row {

}

.main-title {
  margin-top: 20vh;
  font-size: 100px;
  text-align: center;
}

.post-animation {
  -webkit-animation-duration: 3s;
}

.post-date {
  font-size: 10px;
  float: right;
}

.post-type {
  font-size: 10px;
  float: left;
}

.menu-row {
  height: 70px;
  background-color: rgba(188, 218, 216, 0.9);
  margin-bottom: 0px;
  z-index: 1;
}

.menu-element {
  font-size: 1.3em;
  font-weight: 300;
  padding: 20px 30px 20px 30px;
  background-color: rgba(188, 218, 216, 0.9);
  color: #000000;
}

.navbar-nav li div:hover,
.navbar li div.active {
  background-color: rgb(179, 208, 206);
  transition: 0.7s all linear;
  cursor: pointer;
  height: 100%;
}

.affixed {
  position: fixed;
  width: 100%;
  top: 0;
}

.affixed + .container {
  padding-top: 70px;
}

@media screen and (min-width: 768px) {
  .menu-element {
    background-color: rgba(188, 218, 216, 0);
  }
}

.upload-button {
  float: right;
}

.post-text {
  text-align: justify;
  white-space: pre-line;
}

.remove-image-button {
  position: absolute;
  top: 10px;
  right: 25px;
}

.special-symbol-button {
  margin-bottom: 5px;
}

.fb-share-block {
  height: 40px;
  margin-left: 0;
}