<link rel="stylesheet" type="text/css" href="resources/app/components/main/main.css">

<div class="container-fluid intro-container">
    <video autoplay loop class="video-background hidden-xs" muted>
        <source src="resources/assets/videos/viblog-intro.mp4" type="video/mp4">
    </video>
    <div class="photo-background hidden-sm hidden-md hidden-lg"></div>
    <div class="video-overlay hidden-xs"></div>
    <div class="row intro-anchor-scroll-row">
        <a href="#menu" offset="0" duration="1500" du-smooth-scroll>
            <div class="btn btn-lg btn-default intro-anchor-scroll-button col-xs-offset-5 col-xs-2">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </div>
        </a>
    </div>
</div>

<div class="container-fluid news-container">
<span id="menu"></span>
<nav class="row menu-row navbar navbar-default" affix affix-class="affixed">
    <div class="container nav-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <a href="#menu" offset="0" duration="1500" du-smooth-scroll>
                <ul class="nav navbar-nav">
                    <li>
                        <div class="menu-element" ng-click="main.filterPosts('')" ng-class="{'active': main.postFilter == ''}">All</div>
                    </li>
                    <li ng-repeat="type in main.types | notEmptyTypes : main.posts">
                        <div class="menu-element" ng-click="main.filterPosts(type.id)" ng-class="{'active': main.postFilter == type.id}">{{ type.type }}</div>
                    </li>
                </ul>
            </a>
        </div>
    </div>
</nav>
<div id="news" class="container">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 timeline">

            <div class="row">
                <span class="btn btn-danger col-xs-offset-5 col-xs-2">News</span>
            </div>

            <div class="row margin-top-sm margin-bottom-sm" ng-if="main.userService.logged">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <div class="alert alert-danger" role="alert" ng-if="main.error"><strong>Gaidena !</strong> {{main.error}}</div>
                    </div>
                    <div class="form-group">
                        <select ng-model="main.post.type" ng-options="type.type for type in main.types track by type.id"></select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="main.post.title" placeholder="Antraštytė">
                    </div>
                    <div class="special-symbol-button">
                        <button class="btn btn-xs btn-default" ng-click="main.addBulletSymbol()">
                            <i class="glyphicon glyphicon-list"></i>
                        </button>
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" ng-model="main.post.text" placeholder="Čia tekstuką gali parašyti :)"></textarea>
                    </div>
                    <div class="row" ng-if="main.mode == 'create'">
                        <div class="form-group col-xs-8">
                            <input type="text" class="form-control" ng-model="main.link" placeholder="Noutraukytės link'as">
                        </div>
                        <div class="col-xs-2">
                            <span class="btn btn-success add-button" ng-click="main.addImage()">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </span>
                        </div>
                        <div class="form-group col-xs-2">
                            <div flow-init
                                 flow-files-submitted="$flow.upload();main.uploadImage($flow.files[$flow.files.length-1].file);"
                                 flow-file-success="$file.msg = $message">
                                <span class="btn btn-primary upload-button" flow-btn>
                                    <i class="glyphicon glyphicon-upload"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4" ng-repeat="image in main.post.images">
                            <img class="create-post-image img-rounded" src="{{ image.link }}">
                                <button class="btn btn-xs btn-default remove-image-button" ng-click="main.removeImage(image)" ng-if="main.mode == 'create'">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </img>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <input type="text" class="form-control" ng-model="main.post.embed_url" placeholder="Youtube link'as">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6" ng-if="main.userService.logged">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="post-title"><strong>{{ main.post.title }}</strong></div>
                            <div class="margin-bottom-xs margin-top-xs post-text">{{ main.post.text }}</div>
                            <a href="{{ image.link }}" ng-repeat="image in main.post.images">
                                <image class="post-image img-rounded" ng-class="{'post-image-big': main.post.images.length % 2 == 1 && image == main.post.images[0]}" src="{{ image.link }}"></image>
                            </a>
                            <ng-youtube-embed url="post.embed_url" width="100%" ng-if="main.post.embed_url"></ng-youtube-embed>
                            <div class="row fb-share-block">
                                <div
                                        class="fb-like"
                                        data-share="true"
                                        data-width="450"
                                        data-show-faces="false"
                                        data-href="http://vitare.lt/">
                                </div>
                            </div>
                            <div clsss="row">
                                <div class="post-type">{{ main.post.type.type }}</div>
                                <div class="post-date">{{ main.currentTime | date : 'yyyy-MM-dd' : '+0300' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <button
                        type="submit"
                        class="btn btn-primary margin-top-sm margin-bottom-sm col-xs-offset-4 col-xs-4 col-sm-offset-5 col-sm-2 col-md-offset-5 col-md-2"
                        ng-click="main.save()">
                    <span ng-if="main.mode == 'create'"><i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Post</span></span>
                    <span ng-if="main.mode == 'edit'"><i class="glyphicon glyphicon-ok-sign"></i> <span class="hidden-xs hidden-sm">Save</span></span>
                </button>
            </div>

            <div class="row post-animation"
                 ng-repeat="post in main.posts | filter: {type: { id: main.postFilter }} | reverse"
                 in-view="main.setPostVisibility(post, $inview)"
                 ng-class="{'animated fadeIn': post.visible}">
                <div class="padding-left-sm margin-top-sm col-xs-12 col-xs-offset-0 col-md-6" ng-class="{'col-md-offset-6': $index % 2 == 0}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <button class="btn btn-xs btn-default float-right" ng-click="main.delete(post.id)" ng-if="main.userService.logged">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <a href="#menu" offset="0" duration="1500" du-smooth-scroll>
                                <button class="btn btn-xs btn-default float-right" ng-click="main.edit(post.id)" ng-if="main.userService.logged">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                            </a>
                            <div class="post-title"><strong>{{ post.title }}</strong></div>
                            <div class="margin-bottom-xs margin-top-xs post-text">{{ post.text }}</div>
                            <a ng-repeat="image in post.images" ng-click="main.openImagesModal($index, post)">
                                <image class="post-image img-rounded" ng-class="{'post-image-big': post.images.length % 2 == 1 && image == post.images[0]}" src="{{ image.link }}"></image>
                            </a>
                            <ng-youtube-embed url="post.embed_url" width="100%" ng-if="post.embed_url"></ng-youtube-embed>
                            <div class="row fb-share-block">
                                <div
                                        class="fb-like"
                                        data-share="true"
                                        data-width="450"
                                        data-show-faces="false"
                                        data-href="http://vitare.lt/posts/{{ post.id }}">
                                </div>
                            </div>
                            <div clsss="row">
                                <div class="post-type">{{ post.type.type }}</div>
                                <div class="post-date">{{ post.created_at | date : 'yyyy-MM-dd' : '+0300' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>