.timeline {
  margin-top: 20px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 5px;
  border-left: 5px dotted #ffffff;
  z-index: -1000;
}

.post-image {
  width: 47%;
  margin: 1%;
}

.post-image-big {
  width: 97% !important;
  margin: 1%;
}

.create-post-image {
  width: 98%;
  margin: 1%;
}

.title {
  font-size: 16px;
}

.upload-hint {
  font-size: 11px;
  color: #000000;
  margin-bottom: 10px;
  margin-left: 10px;
}

.add-button {
  width: 100%;
}