body {
  background: url("../assets/images/bg.jpg") fixed;
  background-size: cover;
}

.intro-container {
  background: url("../assets/images/intro.jpg") fixed;
  background-size: cover;
  height: 100vh;
}

.float-right {
  float: right;
}

.margin-top-sm {
  margin-top: 20px;
}

.margin-bottom-sm {
  margin-bottom: 20px;
}

.margin-left-sm {
  margin-left: 20px;
}

.margin-right-sm {
  margin-right: 20px;
}

.margin-top-md {
  margin-top: 30px;
}

.padding-left-sm {
  padding-left: 20px;
}

/*bootstrap style overrides*/

.form-control {
  border-radius: 7px;
}

.btn {
  border-radius: 7px;
}

.panel {
  border-radius: 7px;
}

iframe {
  border-radius: 7px;
  padding: 5px;
}